body {
    margin: 0;
    background-color: #000; /* matches BG */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    border: 0;
    image-rendering: pixelated;
}
